body{
    margin: 0;
    background-color: #F6F6F6;
}
.App{
    padding: 20px;
}
li,ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
.btn-demo{
    padding: 10px;
    background-color: rgb(190, 200, 200);
}
.btn-demo .mui-btn{
    margin-right: 8px;
    margin-bottom: 12px;
}